body {
    background-color: #000000;
    
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

/* Adjusting the logo */
.logo {
    margin: 10% 0 0 0;
}

/* styling the maintenance text */
.maintenanceMsg {
    color: #ffffff;
    font-size: 2.4em;
    padding: 5% 0 3% 0;
}

/* styling the button */
.btn {
    margin-bottom: 30px;
}
.btn button{
    padding: 1% 3%;
    font-size: 1em;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid gray;
    
}

button:hover {
    border-color: red;
}

/* styling the footer */
footer {
    
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
   color: #bbb8b8;
}

/* styling the form */
.form {
        margin-bottom: 30px;
}
textarea {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    padding: 1% 27% 10% 1%;
    margin: 1%;
    border: 1px solid gray;
}
input::placeholder {
    color: #ffffff;
}

input {
    text-align: left;
    border: 1px solid gray;
    background-color: #000000;
    padding: 2% 25% 2% 2%;
    margin: 1%;
}

.submit input {
    padding: 1% 6%;
    font-size: 1em;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid gray;
}

/* making an hover border */

input:hover {
    border: 1px solid red;
}

textarea:hover {
    border: 1px solid red;
}

@media screen and (max-width: 980px) {
    .maintenanceMsg {
        color: #ffffff;
        font-size: 1.3em;
        padding: 5% 0 3% 0;
    }

    textarea {
        background-color: #000000;
        color: #ffffff;
        text-align: left;
        padding: 1% 28% 10% 1%;
        margin: 1%;
        border: 1px solid gray;
    }

    footer {
        top: 90%;
        position: fixed;
        margin-top: 40px;
    }
}
